@model List<HomeScroll>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Font Awesome CSS for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .slider-image {
            width: auto;
            opacity: 0.4;
            height: 40vw !important;
        }

        .carousel-item {
            position: relative;
        }

        .slider-description {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 70%;
        }

            .slider-description h1,
            .slider-description p {
                margin-bottom: 20px;
            }

        .btn-watch-now {
            background-color: #ff0000;
            border-color: #ff0000;
            border-radius: 25px;
            font-weight: bold;
            color: #fff;
            transition: all 0.3s ease;
            padding: 10px 20px;
        }

        /* Responsive styles for smaller screens */
        /* Adjust padding and font size for smaller screens */
        .btn-watch-now {
            padding: 8px 16px;
            font-size: 14px;
        }

        .netflix-watch-btn {
            font-weight: bold;
            border-radius: 30px; /* Adjusted border radius */
            padding: 10px 20px; /* Adjusted padding */


            background-color: #e60000;
        }




        .btn-watch-now:hover {
            background-color: #e60000;
            border-color: #e60000;
            color: #fff;
        }



        /* feature */

        .feature {
            border-top: 8px solid #222;
            padding: 2rem 1rem;
        }

        .feature__details {
            text-align: center;
        }

        .feature__title {
            font-size: 25px;
            font-weight: 600;
            margin: 10px 0;
        }

        .feature__sub__title {
            font-size: 15px;
            font-weight: 400;
        }

        .feature__image__container {
            width: 100%;
            position: relative;
        }

        .feature__image {
            width: 100%;
        }

        .feature__backgroud__video__container {
            position: absolute;
            width: 100%;
            top: 20%;
            left: 13%;
            height: 100%;
            max-width: 73%;
            max-height: 54%;
            z-index: -2;
        }

        .feature__backgroud__video {
            width: 100%;
        }

        .feature__2__poster__container {
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 16em;
            display: flex;
            align-items: center;
            background-color: black;
            border: 2px solid rgba(255, 255, 255, 0.25);
            border-radius: 10px;
            height: 60px;
            padding: 0.25rem 0.6rem;
            gap: 15px;
        }

        .poster__container {
            width: 20%;
        }

        .poster {
            width: 100%;
            height: 100%;
        }

        .poster__details {
            width: 60%;
        }

            .poster__details > h4 {
                font-size: 13px;
                font-weight: 500;
            }

            .poster__details > h6 {
                font-size: 12px;
                font-weight: 400;
                color: rgb(63, 63, 246);
            }

        .download__gif__container {
            width: 20%;
            height: 100%;
        }

        .gif {
            width: 100%;
            height: 100%;
        }

        .feature__3__backgroud__video__container {
            max-width: 63%;
            max-height: 47%;
            z-index: -2;
            top: 9%;
            left: 19%;
        }

    </style>
</head>
<body>
    <div id="carouselexamplecontrols" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            @{
                bool isFirstItem = true;
            }
            @{
                @foreach (var obj in Model)
                {
                    <div class="carousel-item @(isFirstItem ? "active" : "")">
                        <img src="~/Images/@obj.ImgUrl" class="d-block h-75 w-100 slider-image" alt="slider image">
                        <div class="carousel-caption slider-description">
                            <a class="btn btn-danger btn-sm netflix-watch-btn" asp-controller="home" asp-action="VideoPlayer" asp-route-movieUrl="@obj.MovieUrl">Watch Now</a>
                        </div>
                    </div>
                    isFirstItem = false; // After the first item, set isFirstItem to false
                }
            }
            <!-- add more carousel items as needed -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselexamplecontrols" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselexamplecontrols" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">next</span>
        </button>
    </div>
    <section class="features__container">
        <!-- Feature 1 -->
        <div class="feature">
            <div class="feature__details">
                <h3 class="feature__title">Enjoy on your TV.</h3>
                <h5 class="feature__sub__title">
                    Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV,
                    Blu-ray players and more.
                </h5>
            </div>
            <div class="feature__image__container">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
                     alt="Feature image"
                     class="feature__image" />
                <div class="feature__backgroud__video__container">
                    <video autoplay=""
                           loop=""
                           muted=""
                           class="feature__backgroud__video">
                        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v"
                                type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <!-- Feature 2 -->
        <div class="feature">
            <div class="feature__details">
                <h3 class="feature__title">
                    Download your shows to watch offline.
                </h3>
                <h5 class="feature__sub__title">
                    Save your favourites easily and always have something to watch.
                </h5>
            </div>
            <div class="feature__image__container">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
                     alt="Feature image"
                     class="feature__image" />
                <div class="feature__2__poster__container">
                    <div class="poster__container">
                        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
                             alt="poster"
                             class="poster" />
                    </div>
                    <div class="poster__details">
                        <h4>Stranger Things</h4>
                        <h6>Downloading...</h6>
                    </div>
                    <div class="download__gif__container">
                        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif"
                             alt="downloading gif"
                             class="gif" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature 3 -->
        <div class="feature">
            <div class="feature__details">
                <h3 class="feature__title">Watch everywhere.</h3>
                <h5 class="feature__sub__title">
                    Stream unlimited movies and TV shows on your phone, tablet,
                    laptop, and TV.
                </h5>
            </div>
            <div class="feature__image__container feature__3__image__container">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png"
                     alt="Feature image"
                     class="feature__image feature__3__image" />
                <div class="feature__backgroud__video__container feature__3__backgroud__video__container">
                    <video autoplay=""
                           loop=""
                           muted=""
                           class="feature__backgroud__video feature__3__backgroud__video">
                        <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v"
                                type="video/mp4" />
                    </video>
                </div>
            </div>

    </section>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
